/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
  font-family: lato, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 75ch;
  text-align: justify;
  text-justify: auto;
  background-color: rgb(252, 252, 252);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}
p {
  margin: 13px 0;
}
h2 {
  font-size: x-large;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #293241;
  font-weight: bold;
}
a {
  color: #3273dc;
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid rgba(0, 0, 0, 0.837);
  color: #222;
  margin: 0px;
  padding: 10px;
}

table {
  table-layout: fixed;
}

thead tr {
  background-color: #293241;
  color: #ffffff;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #293241;
}


/* color ideas */
/* CSS HEX */
/* --bdazzled-blue: #3d5a80ff;
--dark-sky-blue: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff; */