---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="my-0 py-0 bg-gradient-to-tr from-blue-400 to-pink-500">
		<div class="grid content-center place-content-center h-screen text-5xl text-white">Under Construction</div>
	</body>
</html>
