<div>
  <slot />
</div>

<style>
  div {
    border-left: 8px solid rgba(240, 128, 128, 0.837);
    background-color: rgb(255, 240, 240);
    color: #222;
    padding-left: 20px;
    margin: 0px;
  }
</style>
